---
import { Header } from "@/components/header";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import gammaKnife from "@/assets/images/gamma-knife.jpg";
import { Button } from "@/components/ui/button";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import step1 from "@/assets/images/treatment-steps/1.png";
import step2 from "@/assets/images/treatment-steps/2.png";
import step3 from "@/assets/images/treatment-steps/3.png";
import step4 from "@/assets/images/treatment-steps/4.png";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t("gamma-knife.header.title").toString()}
  description={t("gamma-knife.header.subtitle").toString()}
>
  <Header
    title={t("gamma-knife.header.title").toString()}
    description={t("gamma-knife.header.subtitle").toString()}
  />

  <div class="grid md:grid-cols-2 gap-8 items-start">
    <div>
      <Image
        src={gammaKnife}
        alt="Gamma Knife radiosurgery: Delivered with surgical precision"
        width={600}
        height={400}
        class="rounded-lg shadow-lg mb-4"
      />
      <blockquote class="mt-6 border-l-2 pl-6 italic">
        Gamma Knife radiosurgery: Delivered with surgical precision
      </blockquote>
      <h2 class="text-2xl font-semibold my-4">
        {t("gamma-knife.what-is-gk")}
      </h2>
      <p class="mb-4">
        {t("gamma-knife.what-is-gk.description")}
      </p>
      <h3>{t("gamma-knife.what-is-gk.key-benefits.title")}</h3>
      <ul class="list-disc pl-5 mb-4">
        {
          t("gamma-knife.what-is-gk.key-benefits").map((benefit) => (
            <li>{benefit}</li>
          ))
        }
      </ul>
    </div>

    <div class="space-y-6">
      <Card>
        <CardHeader>
          <CardTitle
            >{t("gamma-knife.conditions-treated.title").toString()}</CardTitle
          >
        </CardHeader>
        <CardContent>
          <ul class="list-disc pl-5 space-y-2">
            {
              t("gamma-knife.conditions-treated").map((condition) => (
                <li>{condition}</li>
              ))
            }
          </ul>
        </CardContent>
      </Card>
    </div>
  </div>
  <div class="mt-12">
    <h2 class="text-3xl font-bold mb-6">
      {t("gamma-knife.treatment-process.title")}
    </h2>
    <div class="grid md:grid-cols-2 gap-8">
      <div class="space-y-4">
        <h3>{t("gamma-knife.treatment-process")[0].step}</h3>
        <Image
          src={step1}
          alt="Frame fixation process for Gamma Knife treatment"
          width={400}
          height={300}
          class="rounded-lg shadow-md object-cover"
        />
      </div>
      <div class="space-y-4">
        <h3>{t("gamma-knife.treatment-process")[1].step}</h3>
        <Image
          src={step2}
          alt="MRI imaging for Gamma Knife treatment planning"
          width={400}
          height={300}
          class="rounded-lg shadow-md object-cover"
        />
      </div>
      <div class="space-y-4">
        <h3>{t("gamma-knife.treatment-process")[2].step}</h3>
        <Image
          src={step3}
          alt="Treatment planning for Gamma Knife radiosurgery"
          width={400}
          height={300}
          class="rounded-lg shadow-md object-cover"
        />
      </div>
      <div class="space-y-4">
        <h3>{t("gamma-knife.treatment-process")[3].step}</h3>
        <Image
          src={step4}
          alt="Gamma Knife treatment delivery process"
          width={400}
          height={300}
          class="rounded-lg shadow-md object-cover"
        />
      </div>
    </div>
    <p class="mt-6">
      {t("gamma-knife.treatment-process.end")}
    </p>
  </div>
  <div class="mt-8 text-center">
    <a href=`/${lang}/`>
      <Button>{t("gamma-knife.back").toString()}</Button>
    </a>
  </div>
</Layout>
